<div class="collection-page">
    {{>header}}
    <div class="main-page">
        {{>mainproperties}}
        <div class="main-part">
            <h2 class="header-page" style="text-transform: uppercase;font-family:'Times New Roman', Times, serif">
                {{type}} 
            </h2>
            <div class="row">
                {{#each collections}}
                <div class="col-sm-6 col-lg-4">
                    <div class="part-cards">
                        <div class="card-product">
                            <a href="/products/{{this.id_product}}" class="product-img">
                                <img src="{{this.img1}}" alt="{{this.name}}" class="img1-prd" style="height:500px;">
                            </a>
                            <a href="/products/{{this.id_product}}" class="product-name">
                                <p>"{{this.name}}"</p>
                            </a>
                            <p class="product-price">{{this.price}}đ</p>
                        </div>
                    </div>
                    <img src="{{this.img2}}" alt="{{this.name}}" class="img2-prd" style="display:none;">
                </div>
                {{/each}}
            </div>
            <div class="row justify-content-center ">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{#each num_index}}
                    {{!-- {{{active this.index}}} --}}
                    <li class="page-item page-item-index">
                        <a class="page-link page-link-index" href="/collections/{{this.type}}?page={{sum @index 1}}">{{sum @index 1}}</a>
                    </li>
                    {{/each}}
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{>footer}}
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(e) {
        {{!-- const $ = document.querySelector.bind(document);
        const $$ = document.querySelectorAll.bind(document);
        const pageIndexes = $$('.page-item-index');
        pageIndexes.forEach((pageIndex,index) => {
            pageIndex.onclick = function(e) {
                this.classList.add('active');
                e.preventDefault();
            }
        }); --}}
    });

</script>