<div class="pages">
    {{>header}}
    <div class="main-page">
        {{>mainproperties}}
        <div class="main-part">
            {{#if message.message-add-success}}
            <div class="flash-message flash-success">
                <i class="fas fa-check-circle"></i>Add to cart successfully!
                <li>
                    <a href="/cart">Paying </a>or <a href="/collections/{{collection.type}}"> continuous shopping?</a>
                </li>
            </div>
            {{else}}
            <div class="flash-message" style="display:none;"></div>
            {{/if}}
            <div class="product-content">
                <div class="row">
                    <div class="col-lg-8 col-sm-6">
                        <div class="product-img">
                            <div class="row">
                                <div class="col-sm-5 col-lg-3">
                                    <div class="part-sub-img">
                                        <a href="#" class="product-sub-img img1">
                                            <img src="{{collection.img1}}" alt="{{colelction.name}}" class="sub-img">
                                        </a>
                                        <a href="#" class="product-sub-img img2">
                                            <img src="{{collection.img2}}" alt="{{colelction.name}}" class="sub-img">
                                        </a>
                                        <a href="#" class="product-sub-img img3">
                                            <img src="{{collection.img3}}" alt="{{colelction.name}}" class="sub-img">
                                        </a>
                                        <a href="#" class="product-sub-img img4">
                                            <img src="{{collection.img4}}" alt="{{colelction.name}}" class="sub-img">
                                        </a>
                                        <a href="#" class="product-sub-img img5">
                                            <img src="{{collection.img5}}" alt="{{colelction.name}}" class="sub-img">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-7 col-lg-9">
                                    <a href="#" class="product-main-img">
                                        <img src="{{collection.img1}}" alt="{{colelction.name}}" class="main-img">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="row">
                            <h3 class="product-name">
                                "{{collection.name}}"
                            </h3>
                        </div>
                        <div class="row">
                            <div class="product-price">
                                <h4>
                                    {{collection.price}} đ
                                </h4>
                                <p>
                                    Color: {{collection.color}}
                                </p>
                                <p>
                                    Size: {{collection.size}}
                                </p>
                            </div>
                        </div>
                        <div class="row flex-column">
                            {{!-- <h4 style="font: size 20px;">Số Lượng</h4> --}}
                            <br>
                            <div class="part-num-product">                               
                                {{!-- <input type="number" value="1" min="1" max="10"> --}}
                                <a href="/products/add-to-cart/{{collection._id}}">
                                    <i class="fas fa-shopping-cart"> ADD TO CART</i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="product-description">
                                <h4>Description:</h4>
                                <p>
                                    Season: {{collection.season}} <br>
                                    Occasion: {{collection.occasion}} <br>
                                    Material: {{collection.material}} <br>
                                    Length: {{collection.length}} <br>
                                    Fit type: {{collection.fit_type}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}

</div>
<script>
    // const img1 = document.querySelector('.img1');
    // const img2 = document.querySelector('.img2');
    const sub_imgs = document.querySelectorAll('.sub-img');
    const main_img = document.querySelector('.main-img');
    sub_imgs.forEach(function (img) {
        img.addEventListener('click', function (e) {
            main_img.src = img.src;
        });
        img.addEventListener('mousemove', function (e) {
            main_img.src = img.src;
        })
    })
</script>