<div class="pages">
    {{>header}}
    <div class="main-page">
        {{>mainproperties}}
        <div class="main-part">
            <h2 class="page-header">
                GIỎ HÀNG
            </h2>
            <div class="page-content page-cart">
                {{#if products}}
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th scope="col" style="border-top:0"></th>
                            <th scope="col" style="border-top:0">
                                <h4>Sản phẩm</h4>
                            </th>
                            <th scope="col" style="border-top:0">
                                <h4 style="text-align:center">Số lượng</h4>
                            </th>
                            <th scope="col" style="border-top:0">
                                <h4 style="text-align:end">Thành tiền:</h4>
                            </th>
                            <th scope="col" style="border-top:0">
                                <h4 style="color:rgba(75, 119, 190, 1)">{{totalPrice}} VNĐ</h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>
                            <td>
                                <a href="/products/{{this.item.id_product}}">
                                    <img class="cart-img-prd" src="{{this.item.img1}}" alt="{{this.name}}">
                                </a>
                            </td>
                            <td>
                                <a href="/products/{{this.item.id_product}}" class="taga-nameprd-cart">
                                    {{this.item.name}}
                                </a>
                            </td>
                            <td style="text-align:center">
                                <a href="/products/subtract-to-cart/{{this.item._id}}" class="inc-dec-prd-cart"> - </a>
                                {{this.qty}}
                                <a href="/products/add-to-cart/{{this.item._id}}" class="inc-dec-prd-cart"> + </a>
                                <br>
                                <a href="" class="remove-prd-cart" data-id="{{this.item._id}}" data-toggle="modal" data-target="#delete-product-modal">Xóa</a>
                            </td>
                            <td></td>
                            <td>{{this.price}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="row flex-row-reverse">
                    <a href="/cart/checkout" class="btn-x btn-strong-blue">Thanh toán</a>
                    <a href="/collections/shirt" class="btn-x btn-light-blue">Mua thêm sản phẩm</a>
                </div>
                {{else}}
                <div class="row flex-column align-content-center empty-cart">                   
                    <img class="empty-cart-img" src="https://cdn.dribbble.com/users/204955/screenshots/4930541/emptycart.png" alt="empty-cart">                    
                    <p>Giỏ hàng chưa có sản phẩm nào </p>                  
                    <a href="/collections/shirt" class="non-prd-btn">Mua sắm ngay</a>                    
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{>footer}}
</div>

{{!-- confirm delete  --}}
<div id="delete-product-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Chú ý</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn muốn xóa sản phẩm này ra khỏi giỏ hàng?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-product-modal" type="button" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>

{{!-- hidden delete form --}}
<form class="form-delete" method="get" name="delete-product-form"></form>

<script>
    document.addEventListener("DOMContentLoaded", function(e) {
        (function($) {
            var productId;
            var deleteForm = document.forms['delete-product-form'];
            var btnDelete = document.getElementById('btn-delete-product-modal');
            $('#delete-product-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                productId = button.data('id');
            });
            btnDelete.onclick = function (event) {
                deleteForm.action = '/products/remove-to-cart/' + productId;
                deleteForm.submit();
            };
        })(jQuery);
    })
</script>






