<div class="pages">
    {{>header}}
    <div class="main-page">
        {{>mainproperties}}
        <div class="main-part" style="min-height:200px;">
            <h2 class="page-header">
                GIỎ HÀNG
            </h2>
            <div class="page-content page-cart">
                {{#if products}}
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th scope="col" style="border-top:0"></th>
                            <th scope="col" style="border-top:0">
                                <h4>Sản phẩm</h4>
                            </th>
                            <th scope="col" style="border-top:0">
                                <h4 style="text-align:center">Số lượng</h4>
                            </th>
                            <th scope="col" style="border-top:0">
                                <h4 style="text-align:end">Thành tiền:</h4>
                            </th>
                            <th scope="col" style="border-top:0">
                                <h4 style="color:rgba(75, 119, 190, 1)">{{totalPrice}} VNĐ</h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>
                            <td>
                                <a href="/products/{{this.item.id_product}}">
                                    <img class="cart-img-prd" src="{{this.item.img1}}" alt="{{this.name}}">
                                </a>
                            </td>
                            <td>
                                <a href="/products/{{this.item.id_product}}" class="taga-nameprd-cart">
                                    {{this.item.name}}
                                </a>
                            </td>
                            <td style="text-align:center">
                                <a href="/products/subtract-to-cart/{{this.item._id}}" class="inc-dec-prd-cart"> - </a>
                                {{this.qty}}
                                <a href="/products/add-to-cart/{{this.item._id}}" class="inc-dec-prd-cart"> + </a>
                                <br>
                                <a href="" class="remove-prd-cart" data-id="{{this.item._id}}" data-toggle="modal" data-target="#delete-product-modal">Xóa</a>
                            </td>
                            <td></td>
                            <td>{{this.price}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="row flex-row-reverse">
                    <a href="/cart/checkout" class="btn-x btn-paying">Thanh toán</a>
                    <a href="/collections/shirt" class="btn-x btn-buy-more">Mua thêm sản phẩm</a>
                </div>
                {{else}}
                <div class="row flex-column align-content-center empty-cart">                   
                    <img class="empty-cart-img" src="https://cdn.dribbble.com/users/204955/screenshots/4930541/emptycart.png" alt="empty-cart">                    
                    <p>Giỏ hàng chưa có sản phẩm nào </p>                  
                    <a href="/collections/shirt" class="non-prd-btn">Mua sắm ngay</a>                    
                </div>
               {{/if}}
            </div>
        </div>
    </div>
    {{>footer}}
</div>