<div class="me-page" >
    {{>me-header }}
    <form class="me-page-main" name="container-form" method="POST" action="/me/bills/handle-actions-form">
        <div>
            <h3>Đơn hàng đã hoàn thành <i class="far fa-clipboard"></i>({{countCompletedBill}})</h3>
            <a href="/me/stored/bills">Đơn hàng của khách ({{countBill}})</a>
            <div class="mt-4 d-flex align-items-center">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox-all" >
                    <label class="form-check-label" for="checkbox-all">
                        Chọn tất cả
                    </label>
                </div>
                <div class="form-group form-control-sm checkbox-selectAll-options" style="margin-bottom:0;">    
                    <select class="form-control" name="action">
                    <option value="restore">Khôi phục</option>
                    <option value="harddelete">Xóa vĩnh viễn</option>
                    </select>
                </div>
                <button id="do-actions-btn" class="btn btn-primary btn-sm" style="padding:7px;" disabled>Áp dụng</button>
            </div>
        </div>
        <table class="table mt-4 ">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Mã đơn hàng</th>
                    <th scope="col" width="200">Tên khách hàng</th>
                    <th scope="col" width="200">Địa chỉ</th>
                    <th scope="col" width="150">Đã thanh toán</th>
                    <th scope="col">Thời gian hoàn thành</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each bills}}
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" id="checkbox" type="checkbox" name="billId[]" value="{{this._id}}" >
                        </div>
                    </td>
                    <th scope="row">
                        <a href="">
                            {{this._id}}
                        </a>    
                    </th>
                    <td>{{this.fullname}}</td>
                    <td>{{this.address}}</td>
                    <td>{{this.totalPrice}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td>
                        <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                        <a href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-bill-modal">Xóa vĩnh viễn</a>
                    </td>
                </tr>
                {{!-- Khi khong co du lieu --}}
                {{else}} 
                <tr>
                    <td colspan="9">
                        Chưa có đơn hàng nào được hoàn thành. Bạn muốn
                        <a href="/me/stored/bills">quay lại danh sách đơn hàng không?</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </form>
</div>

{{!-- confirm delete  --}}
<div id="delete-bill-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa đơn hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phục. Bạn có chắc muốn xóa vĩnh viên đơn hàng này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-bill-modal" type="button" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<form class="form-delete" method="POST" name="delete-bill-form"></form>
<form class="form-restore" method="POST" name="restore-product-form"></form>
<script>
    document.addEventListener("DOMContentLoaded", function(e) {
        var billId;
        var restoreBtn;
        var deleteForm = document.forms['delete-bill-form'];
        var restoreForm = document.forms['restore-product-form']
        var deleteBtn = $('#btn-delete-bill-modal');
        var checkboxAll = $('#checkbox-all');
        var checkbox = $('input[name="billId[]"]');
        var restoreBtn = $('.btn-restore');
        var actionsBtn = $('#do-actions-btn');

        $('#delete-bill-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            console.log(id);
            billId = button.data('id');
        });

        restoreBtn.click(function (event) {
            event.preventDefault();
            var billId = $(this).data('id');
            restoreForm.action = '/me/bills/' + billId + '/restore?_method=PATCH';
            restoreForm.submit();
        });

        // show confirm modal
        deleteBtn.click(function (event) {
            deleteForm.action = '/me/bills/' + billId + '/hard-delete?_method=DELETE';
            deleteForm.submit();
        });

        checkboxAll.change(function(event) {
            if($(this).prop('checked')) {
                checkbox.prop('checked', true);
            }
            else {
                checkbox.prop('checked',false);
            }
            enableExecutedBtn();
        });

        checkbox.change(function (event) {
            var isCheckedAll = checkbox.length === $('input[name="billId[]"]:checked').length;
            checkboxAll.prop('checked',isCheckedAll);
            enableExecutedBtn();
        })

        function enableExecutedBtn(){
            var isChecked = $('input[name="billId[]"]:checked').length;
            if(isChecked > 0){
                actionsBtn.attr('disabled',false);
            }
            if(isChecked == 0){
                actionsBtn.attr('disabled',true);
            }
        };
    });

</script>